{% extends "admin_layout.html" %}
{% set active = "dashboard" %}
{% set page_title = "Dashboard" %}

{% block content %}

<div class="dashboard-cards">

    <div class="card">
        <i class="fas fa-user-shield"></i>
        <h3>Logged Admin</h3>
        <p>{{ session['admin_username'] }}</p>
    </div>

    <div class="card">
        <i class="fas fa-check-circle"></i>
        <h3>Status</h3>
        <p>Active</p>
    </div>

</div>

<h2 class="section-title">Welcome to your Admin Panel</h2>
<p>This is your admin dashboard. More features will be added soon.</p>

{% endblock %}
